{% extends 'viewshtmls/base.html' %}
{% block title %}<title>JRAlumni System AlumniFamilyList {{additional_data}}</title>{% endblock %}

{% block content %}
  <h1>Alumni Family List {{additional_data}}</h1>

  {% if alumnifamily_list %}
  <ul>
    {% for AlumniFamily in alumnifamily_list %}
      <li>
        <a href="{{ AlumniFamily.get_absolute_url }}">{{ AlumniFamily.familyName }}</a> ({{AlumniFamily.display_student}})
      </li>
      <li>
            <a href="{% url 'jralumniarchive:justsomepage' %}">{{ AlumniFamily.familyName }}justsomepage</a> ({{AlumniFamily.display_student}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no families in the table.</p>
  {% endif %}
{% endblock %}