{% extends 'viewshtmls/base.html' %}
{% block title %}<title>JRAlumni System AlumniFamilyList {{additional_data}}</title>{% endblock %}

{% block content %}
  <h1>Alumni Familyyyyy List {{additional_data}}</h1>

  {% if alumnifamily_list %}
  <ul>
    {% for AlumniFamily in alumnifamily_list %}
        {% if "family_list" in additional_data %}
            <li>
                <a href="{% url 'alumnifamily-detailgc' AlumniFamily.id %}">{{ AlumniFamily.familyName }} fff </a> ({{AlumniFamily.display_student}})
            </li>
        {% endif %}
        {% if "FamilyListView" in additional_data %}
            <li>
                <a href="{{ AlumniFamily.get_absolute_url }}">{{ AlumniFamily.familyName }} ccc</a> ({{AlumniFamily.display_student}})
            </li>
        {% endif %}

    {% endfor %}
  </ul>
  {% else %}
    <p>There are no families in the table.</p>
  {% endif %}
{% endblock %}
