<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Just Some Page</title>
</head>
<body>
{{ message }}
<p> now display cities</p>
{{  cities  }}

{% regroup cities by country as country_list %}


<hr>
<p> now iterate</p>

<ul>
{% for country in country_list %}
    <li>{{ country.grouper }}
    <ul>
        {% for city in country.list %}
          <li>{{ city.name }}: {{ city.population }}</li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

<hr>
<p> now iterate another way</p>
<ul>
{% for country, local_cities in country_list %}
    <li>{{ country }}
    <ul>
        {% for city in local_cities %}
          <li>{{ city.name }}: {{ city.population }}</li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

<hr>
<p> now iterate after sorting by country</p>
{% regroup cities|dictsort:"country" by country as country_list %}
<ul>
{% for country, local_cities in country_list %}
    <li>{{ country }}
    <ul>
        {% for city in local_cities %}
          <li>{{ city.name }}: {{ city.population }}</li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
{%  comment  %}
{%  endcomment  %}
</body>
</html>