{% extends 'viewshtmls/base.html' %}
                {% block content %}
                    {% for student in students %}
                                    <article class="student">
                                        <time class="date">
                                            {{ student.created_date }}
                                        </time>
                                        <h2>{{ student.lnamefname }}</h2>
                                        <p> DOB {{ student.birthdate|linebreaksbr }}</p>
                                    </article>
                    {% endfor %}
                {% endblock %}
